.foot-box-flex {

    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    background-color: black;
    padding: 2%;

}
.image-box-flex {

    display: flex;
    justify-content: center;;
    flex-wrap: wrap;
    background-color: blueviolet;
    padding: 2%;

}

.circle {

    border-radius: 100%;
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    color: white;
    align-items: center;
    text-align: center; 
    box-shadow: 0px 0px 15px purple;

}

.titulo {

    color:blueviolet;
    background-color: black;
    font-family: 'Rubik Moonrocks', sans-serif;
    text-transform: uppercase;
    font-size: 5rem;
    text-align: center;
    padding: 2%;


}

.titulo2 {

    color: whitesmoke;
    font-family: 'Changa One', sans-serif;
    padding: 2%;
    text-align: center;
    margin-top: 5%;
    

}

.fundo-card{
    background-color: black;

}

.margin-buttons{

    margin-top: 15%;
}

.margin{
    margin: 0;
    padding: 1%;
}

.resize{

    height: auto;
    width: 900px;


}
.pilula{
    padding: 2%;
    border-radius: 100px;

}
